.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal_container {
    width: 100%;
    height: 50vh;
    background-color: rgba(13, 19, 31, 0.8);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    button {
        width: 27%;
        height: 7vh;
        border: none;
        border-radius: 30px;
        color:white;
        background-color: #cc6c35;
        font-size: 15px;
        transition: 0.2s ease-in-out;
        &:hover{
            background-color: white;
            color: #3c515e;
            cursor: pointer;
        }
        &:disabled {
            background-color: #797f83;
            color: #3a3c3e;
            cursor: default;
        }
    }
}

.animated_div {
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.title {
    color: white;
    font-size: 1.2rem;
}

.input_area {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input_bar {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input_error {
    height: 1vh;
    position: relative;
    color:rgb(255, 222, 132);
    margin-top: 3px;
}

.input {
    width: 70%;
    height: 5vh;
    border: none;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.background {
    width: 120%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
